<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("metaTags", required: false)
    <link rel="canonical" href="@($"https://thomasbandt.com{Context.Request.Path}{Context.Request.QueryString}")">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Thomas Bandt">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="application-name" content="Thomas Bandt">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/blog.min.css" rel="stylesheet">
    <meta name="google-site-verification" content="M3wbVWxqz4moQM2YrDGSjooMol04iox4e-VktU1gN6E">
    @RenderSection("pageStyles", required: false)
</head>
<body>
    <div class="container blog-container">
        <header>
            <img src="/images/profile-picture@2x.png"
                 srcset="/images/profile-picture.png 1x,
                         /images/profile-picture@2x.png 2x,
                         /images/profile-picture@3x.png 3x"
                 hideProfilePictureOnDesktop="@ViewData["HideProfilePictureOnDesktop"]"
                 alt="Thomas Bandt" />

            <nav class="header-content">
                <div class="title">
                    <strong>Thomas Bandt <span class="hide-on-mobile">&dash;</span></strong>
                    <span class="subtitle">Developer &amp; Entrepreneur of Passion.</span>
                </div>
                <br>
                <menuLink title="Home" controller="Posts" action="List" />
                <menuLink title="About" controller="About" action="About" />
                <menuLink title="Contact" controller="Contact" action="Contact" />
                <menuLink title="Archives" controller="Archives" action="Archives" />
                <a asp-controller="Feed" asp-action="Feed" target="_blank" onclick="trackOutboundLink(this.href)"><span class="hide-on-mobile">Feed </span><i class="fa fa-rss"></i></a>
            </nav>
        </header>

        <div class="content">
        @RenderBody()
        </div>

        <footer class="page-footer">
            <img src="/images/spacer@2x.png"
                 srcset="/images/spacer.png 1x,
                         /images/spacer@2x.png 2x,
                         /images/spacer@3x.png 3x"
                 alt=""><br>
            &copy; 1999 &dash; @DateTime.Now.Year<br><a asp-controller="About" asp-action="About">Thomas Bandt, Munich</a>
        </footer>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('set', 'anonymizeIp', true);
        ga('create', 'UA-58418408-1', 'auto');
		ga('require', 'displayfeatures');
        ga('send', 'pageview');

        var trackOutboundLink = function(url) {
            ga('send', 'event', 'outbound', 'click', url, {});
        }
    </script>
</body>
</html>
