<!DOCTYPE html>
<html>
<head>
    <title>{{{sections.pageTitle}}}</title>
    {{{sections.metaTags}}}
    <link href="/blog/client/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/blog/client/styles/bundled.css" rel="stylesheet">
    {{{sections.pageStyles}}}
</head>
<body>
    <a href="{{routes.blog.home}}">Home</a> |
    <a href="{{routes.blog.archive}}">Archive</a> |
    <a href="{{routes.blog.about}}">About</a> |
    <a href="{{routes.blog.feed}}">RSS Feed</a>
    <hr>
    <div class="container blog-container">
    {{{body}}}
    </div>
</body>
</html>
