<!DOCTYPE html>
<html>
<head>
    <title>{{{sections.pageTitle}}}</title>
    {{{sections.metaTags}}}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/blog/client/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/blog/client/styles/bundled.css" rel="stylesheet">
    {{{sections.pageStyles}}}
</head>
<body>
    <div class="container blog-container">
        <header>
            <img src="/blog/client/images/profile-picture.png">

            <div class="header-content">
                <div class="title">
                    <strong>Thomas Bandt  &dash;</strong>
                    Developer &amp; Entrepreneur with Passion.
                </div>

                <br>

                <a href="{{routes.blog.home}}" {{{activeMenuItem routes.blog.home activeRoute}}}>Home</a>
                <a href="{{routes.blog.about}}" {{{activeMenuItem routes.blog.about activeRoute}}}>About</a>
                <a href="{{routes.blog.contact}}" {{{activeMenuItem routes.blog.contact activeRoute}}}>Contact</a>
                <a href="{{routes.blog.archive}}" {{{activeMenuItem routes.blog.archive activeRoute}}}>Archive</a>
                <a href="{{routes.blog.feed}}" target="_blank"><i class="fa fa-rss"></i></a>
            </div>

        </header>

        {{{body}}}

        <footer>
            <hr>
            &copy; 1999 &dash; {{currentYear}} <a href="{{routes.blog.about}}">Thomas Bandt</a>
        </footer>
    </div>
</body>
</html>
