{{#each posts}}
<article class="preview">
    <h2><a href="{{postLink this.slug}}">{{this.title}}</a></h2>
    <p>{{this.abstract}}</p>
</article>
{{/each}}

{{#ifCond hasPreviousPage '||' hasNextPage}}
<div class="pager">
    {{#if hasPreviousPage}}
    <a href="{{previousPageUrl}}">&laquo; Newer Articles</a>
    {{/if}}

    {{#ifCond hasPreviousPage '&&' hasNextPage}}
    <span class="pipe">|</span>
    {{/ifCond}}

    {{#if hasNextPage}}
    <a href="{{nextPageUrl}}">Older Articles &raquo;</a>
    {{/if}}
</div>
{{/ifCond}}

{{#section "pageTitle"}}{{blog.description}}{{/section}}
{{#section "metaTags"}}<meta name="description" content="{{blog.description}}">{{/section}}
