<h1>Posts</h1>

{{#each posts}}
    <h2><a href="/{{this.slug}}">{{this.title}}</a></h2>
    <p>{{this.abstract}}</p>
    <hr>
{{/each}}

<hr>
{{#if hasPreviousPage}}
<a href="{{previousPageUrl}}">Zurück</a>
{{/if}}
{{#if hasNextPage}}
<a href="{{nextPageUrl}}">Weiter</a>
{{/if}}