<h1>Posts</h1>

{{#each posts}}
    <h2><a href="{{postLink this.slug}}">{{this.title}}</a></h2>
    <p>{{this.abstract}}</p>
    <hr>
{{/each}}

<hr>
{{#if hasPreviousPage}}
<a href="{{previousPageUrl}}">Previous Page</a>
{{/if}}
{{#if hasNextPage}}
<a href="{{nextPageUrl}}">Next Page</a>
{{/if}}