<article class="post-detail">
    <h1>{{post.title}}</h1>
    <p class="lead">{{post.abstract}}</p>
    <footer class="published"><p>Published on {{post.dateFormatted}}.</p></footer>
    {{{post.contentHtml}}}
</article>

{{#section "pageTitle"}}{{post.title}}{{/section}}
{{#section "metaTags"}}<meta name="description" content="{{post.abstract}}">{{/section}}
