<!DOCTYPE html>
<html ng-app="admin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{blog.name}} Admin</title>
    <link rel="shortcut icon" href="/admin/client/images/favicon.ico" />
    <link href="/admin/client/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/client/libraries/flat-ui/dist/css/flat-ui.min.css" rel="stylesheet">
    <link href="/admin/client/dist/all.min.css" rel="stylesheet">
    {{{sections.pageStyles}}}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    {{#if isAuthenticated}}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{routes.admin.overview}}">{{blog.name}}</a>
                    {{else}}
                    <a class="navbar-brand" href="{{routes.admin.login}}">{{blog.name}}</a>
                    {{/if}}
                </div>
                {{#if isAuthenticated}}

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {{{activeMenuItem routes.admin.overview activeRoute}}}><a href="{{routes.admin.overview}}">Posts</a></li>
                        <li {{{activeMenuItem routes.admin.addPost activeRoute}}}><a href="{{routes.admin.addPost}}">Add Post</a></li>
                        <li {{{activeMenuItem routes.admin.assets activeRoute}}}><a href="{{routes.admin.assets}}">Assets</a></li>
                    </ul>
                    <div class="navbar-text navbar-right">
                        <a href="{{routes.admin.logout}}" class="logout-button">Log out</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </nav>

        {{{body}}}
    </div>

    <script src="/admin/client/dist/libs.min.js"></script>
    <script src="/admin/client/dist/app.min.js"></script>
</body>
</html>
