<div class="assets">
{{#if files}}
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Uploaded</th>
            <th>Size</th>
        </tr>
        {{#each files}}
        <tr data-toggle="collapse" data-target="#file_{{@index}}" class="file-row">
            <td style="width: 60%">{{this.name}}</td>
            <td>\{{'{{this.created}}' | amDateFormat: 'lll'}}</td>
            <td>
                \{{({{this.size}} / 1024).format(0, '.')}} KB
            </td>
        </tr>
        <tr class="collapse out" id="file_{{@index}}">
            <td colspan="3">
                <fieldset>
                    <legend>Path</legend>
                    <input type="url" class="copy-url" value="{{../assets.webPath }}{{this.name}}">
                </fieldset>

                <fieldset asset-preview="{{this.name}}">
                    <legend>Preview</legend>
                    <a href="{{../assets.webPath }}{{this.name}}" target="_blank">
                        <img ng-src="{{../assets.webPath }}{{this.name}}">
                    </a>
                </fieldset>

                <fieldset>
                    <legend>Actions</legend>
                    <a href="#" class="btn btn-danger">Delete Asset</a>
                </fieldset>
            </td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <div class="jumbotron">
        <p>No file uploaded yet.</p>
    </div>
{{/if}}
</div>