{{#if message}}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{message}}
    </div>
{{/if}}

{{#if posts}}
    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Published</th>
        </tr>
        {{#each posts}}
        {{#if this.published}}
        <tr>
        {{else}}
        <tr class="warning">
        {{/if}}
            <td style="width: 60%"><a href="{{actionLink ../routes.admin.editPost ':id' this.id }}">{{this.title}}</a></td>
            <td>\{{'{{this.date}}' | amDateFormat: 'lll'}}</td>
            <td>
                {{#if this.published}}
                    <span class="glyphicon glyphicon-ok"></span>
                {{else}}
                    <span class="glyphicon glyphicon-remove"></span>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>You have not added a blog post yet. <a href="{{routes.admin.addPost}}">Go and write one!</a></p>
    </div>
{{/if}}