{{#if message}}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{message}}
    </div>
{{/if}}

<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
{{#each posts}}
    {{#if this.published}}
    <tr>
    {{else}}
    <tr class="warning">
    {{/if}}
        <td style="width: 60%"><a href="/admin/posts/edit/{{this.id}}">{{this.title}}</a></td>
        <td>\{{'{{this.date}}' | amDateFormat: 'lll'}}</td>
        <td>
            {{#if this.published}}
                published
            {{else}}
                disabled
            {{/if}}
        </td>
    </tr>
{{/each}}
</table>